@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
/**主页*/
.page {
    width: 100%;
    height: 4043px;
}
/**导航*/
.nav {
    width: 160px;
    height: 205px;
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: -102.5px;
}
/**顶级栏目*/
.nav-li {
    width: 160px;
    height: auto;
    border-bottom: 1px solid #FFF;
    background: #333;
    text-align: center;
    line-height: 40px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}
.tit {
    width: 160px;
    height: 40px;
}
/**二级栏目*/
.nav-li ul {
    width: 160px;
    height: auto;
    background: rgb(141, 36, 36);
    display: none;
}
.nav-li:hover ul {
    display: block;
}


.nav-li ul li {
    width: 160px;
    height: 40px;
    border-bottom: 1px dashed #666;
    color: #333;
    text-align: center;
    line-height: 40px;
    position: relative;
}

/**三级栏目**/
.nav-li ul li:hover .list-3 {
    display: block;
}
.list-3 {
    width: 160px;
    height: auto;
    position: absolute;
    left: 160px;
    top: 0px;
    display: none;
}

.list-dom {
    width: 160px;
    height: 40px;
    background: #444;
    border-bottom: 1px solid #FFF;
    text-align: center;
    line-height: 40px;
    color: #FFF;
}
