/**顶部导航*/
.top-link {
    min-width: 830px;
   
}
.ul {
    z-index: 2;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    margin: 19px 0 5px;
    padding: 0 28px 0 0;
}
.ul a.mnav, .ul a.mnav:visited {
    float: left;
    color: #333;
    font-weight: 700; /**字体粗细大小*/
    line-height: 24px;
    margin-left: 20px;
    font-size: 13px;
    text-decoration: underline;
}
.ul a.mnav:hover {
    color: #00c;
}

/**body 部分 包含 百度搜索图片 和搜索框 */
.qixi_img {
    position: relative;
    top: 50%;
    text-align: center;
}


